{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container" align="center">
          <h1 class="display-3">I see you</h1>
          <p class="lead">Click the buttons below to see what I see...</p>
        </div>
    </div>

    <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
            <div class="card-header" role="tab" id="headingOne" align="center">
                <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        About
                    </a>
                </h5>
            </div>
        
            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-block" align="center">
                    You may be asking yourself, wtf is this creepy website? It's really not intended to be creepy. But rather, the goal is to demonstrate to you, the Internet user, just how much the websites you visit know about you. Explore and enjoy!                        
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" role="tab" id="headingTwo" align="center">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Browser
                    </a>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-block" align="center">
                    {{ data.HTTP_USER_AGENT }} <br> This tells me a bit about how you're connecting, just so I know how to set things up for you.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" role="tab" id="headingThree" align="center">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Host
                    </a>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="card-block" align="center">
                    {{ data.REMOTE_ADDR }} <br> This is the address you connected from. It should be your proxy server's address if you're using one, otherwise just your good ol' public-facing IP. 
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" role="tab" id="headingFour" align="center">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Location
                    </a>
                </h5>
            </div>
            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                <div id="location-text" class="card-block" align="center">
                </div>
            </div>
        </div>
    </div>
{% endblock %}